<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.claudeapp.ClaudeApp</string>
    <key>CFBundleName</key>
    <string>ClaudeApp</string>
    <key>CFBundleDisplayName</key>
    <string>ClaudeApp</string>
    <key>CFBundleExecutable</key>
    <string>ClaudeApp</string>
    <key>CFBundleVersion</key>
    <string>1.7.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.7.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2025 ClaudeApp. MIT License.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
